body {
  color: white;
}

.footerContainer {
  position: fixed;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  bottom: 0;
  left: 0;
  width: auto;
  opacity: 0.6;
  min-height: 72px;
  z-index: 5;
}

.link {
  margin: 0px 10px 0px 10px;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.8;
  color: white;
}

.link:hover {
  opacity: 1;
  color: white;
}

.logo {
  height: 50px;
  margin-left: 10px;
  margin-bottom: 0;
}