.container {
  margin-top: 5vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container > a {
  margin: 20px;
  color: white;
}
.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
.form input,
.form textarea {
  width: 100%;
}
.form textarea {
  height: 80px;
}
.form p {
  width: 80%;
}
.form p label {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 24px;
}
.formContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 24px 0;
  margin: 24px 0;
  font-size: 20px;
  line-height: 1.3;
  width: 50vw;
}
.text {
  width: 50vw;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.3;
}
.button {
  margin: 20px;
}

@media screen and (max-width: 1000px) {
  .text {
    width: 70vw;
  }
  .formContainer {
    width: 80vw;
  }
}


@media screen and (max-width: 650px) {
  .text {
    width: 80vw;
  }
}

@media screen and (max-device-width: 640px) {
  .text {
    width: 80vw;
  }
}