* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 40px;
}

.link {
  position: relative;
  overflow: hidden;
  width: auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: all ease-in-out 300ms;
}

.link:hover {
  color: white;
  font-size: 1.8em;
  font-weight: 600;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -moz-transform: scale(0.975);
  -webkit-transform: scale(0.975);
  transform: scale(0.975);
}

.link img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.image {
  width: auto;
  max-height: 45vh;
  margin: 20px 0;
  cursor: pointer;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.titleHeader {
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.photos {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
}

.photos img {
  // height: 300px;
  width: 100%;
  padding-bottom: 10px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}


@media screen and (max-width: 1100px) {
  .image {
    max-height: 27.5vh;
  }
}


@media screen and (max-width: 750px) {
  .container {
    align-items: center;
    justify-content: center;
  }

  .image {
    object-fit: cover;
    height: 60vh;
    width: 100%;
  }
}

@media screen and (max-device-width: 640px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .container {  }
  .photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 0 2.5vw;
  }
}

@media (max-width: 400px) {
  .photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
