.container {
  margin-top: 10vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container > a {
  margin: 20px;
  color: white;
}
.text {
  width: 40vw;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.4;
}
.button {
  margin: 20px;
}

@media screen and (max-width: 1400px) {
  .text {
    width: 60vw;
  }
}

@media screen and (max-width: 1000px) {
  .text {
    width: 70vw;
  }
}

.title {
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 640px) {
  .text {
    width: 70vw;
  }
}

@media screen and (max-device-width: 640px) {
  .text {
    width: 70vw;
  }
  .container {
    margin-top: 3vh;
    margin-bottom: 12vh;
  }
}