.container {
  margin-top: 10vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container > a {
  margin: 20px;
  color: white;
}
.text {
  width: 30vw;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.3;
}
.button {
  margin: 20px;
  padding: 5px 10px;
  outline: none;
  box-shadow: none;
  background: white;
	color: black;
  border: 1px solid black;
  border-radius: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.button:hover {
  background-color: grey;
}

@media screen and (max-width: 1000px) {
  .text {
    width: 70vw;
  }
}


@media screen and (max-width: 650px) {
  .text {
    width: 70vw;
  }
}

@media screen and (max-device-width: 640px) {
  .text {
    width: 70vw;
  }
}