body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

.container {
  text-align: center;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 21px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  width: 40vw;
  line-height: 1.4;
}

.name {
  color: rgba(255, 255, 255, 0.8);
  font-size: 28px;
  font-weight: 500;
}

.navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: 60vh;
  padding: 20px 1vw 20px 1vw;
}

.linkArt {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/covers/art/compressed/14-thumb.jpg');
  background-size: cover;
  opacity: 0.65;
  width: 33%;
  height: 100%;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.85);
  background-position: top left;
  transition: all ease-in-out 500ms;
  font-weight: 600;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}


.linkArt:hover {
  opacity: 0.9;
  color: rgba(255, 255, 255, 1);
  background-position: center;
}

.linkTravel {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/travel/compressed/29-thumb.jpg');
  background-size: cover;
  opacity: 0.65;
  width: 33%;
  height: 100%;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.85);
  background-position: top left;
  transition: all ease-in-out 500ms;
  font-weight: 600;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;

}

.linkTravel:hover {
  opacity: 0.9;
  color: rgba(255, 255, 255, 1);
  background-position: center;
}

.linkWeb {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/web-2.jpg');
  background-size: cover;
  opacity: 0.65;
  width: 33%;
  height: 100%;
  font-size: 36px;
  color: rgba(255, 255, 255, 0.85);
  background-position: top left;
  transition: all ease-in-out 500ms;
  font-weight: 600;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;

}

.linkWeb:hover {
  opacity: 0.9;
  color: rgba(255, 255, 255, 1);
  background-position: center;
}

.thumb {
  height: 100%;
  opacity: 0.65;
}


@media screen and (max-width: 1000px) {
  .welcome {
    width: 70vw;
  }
}


@media screen and (max-width: 650px) {
  .welcome {
    width: 80vw;
  }

  .navigation {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: auto;
  }

  .linkTravel,
  .linkWeb,
  .linkArt {
    height: 17.5vh;
    width: 90%;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-device-width: 640px) {
  .welcome {
    width: 80vw;
  }

  .navigation {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: auto;
    padding-top: 0px;
  }

  .linkTravel,
  .linkWeb,
  .linkArt {
    height: 17.5vh;
    width: 90%;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .container {
    margin-top: 10px;
    height: calc(100vh - 82px);
    justify-content: start;
  }
}