.container {
  margin-top: 10vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.container > a {
  margin: 20px;
  color: white;
}
.imageWrapper {
  margin-top: 16px;
  height: 50vh;
}
.imageContainer {
  display: flex;
  flex-flow: row;
  padding: 16px 0;
  width: 70vw;
}
.text {
  padding: 0 32px;
  text-align: left;
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.4;
}
.textContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.button {
  margin: 6px 12px;
  outline: none;
  box-shadow: none;
  background: white;
	color: black;
  border: 1px solid black;
  border-radius: 10px;
  font: inherit;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12px 24px;
  outline: inherit;
}
.button:hover {
  background: lightgrey;
}

@media screen and (max-width: 1000px) {
  .imageWrapper {
    height: 40vh;
    width: 55vw;
  }
  .imageContainer {
    width: 80vw;
  }
  .textContainer {
    width: 70vw;
  }
}

.title {
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 640px) {
  .button {
    margin-bottom: 32px;
  }
  .container {
    margin-top: 7vh;
  }
  .imageWrapper {
    height: unset;
    width: 55vw;
  }
  .text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }
  .textContainer {
    width: 85vw;
  }
  .imageContainer {
    align-items: center;
    flex-flow: column-reverse;
    padding: 16px 0;
    width: 80vw;
  }
}

@media screen and (max-device-width: 640px) {
  .button {
    margin-bottom: 32px;
  }
  .imageWrapper {
    margin-top: 0;
    height: unset;
    width: 55vw;
  }
  .text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
  }
  .textContainer {
    width: 85vw;
  }
  .imageContainer {
    align-items: center;
    flex-flow: column-reverse;
    padding: 16px 0;
    width: 80vw;
  }
  .container {
    margin-top: 7vh;
    margin-bottom: 12vh;
  }
}