* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 20px;
  margin-top: 48px;
}

.overlay {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.loading {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.85;
  }
}


.link {
  min-height: 125px;
  position: relative;
  overflow: hidden;
  width: auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: all ease-in-out 300ms;
}

.hide {
  display: none;
}

.link img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.image {
  width: auto;
  max-height: 45vh;
  margin: 20px 0;
  cursor: pointer;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: default;
}

.imageModal {
  height: 80vh;
  align-self: center;
}

.modal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.controls {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: none;
  width: 100vw;
  margin: 0 0 20px 0;
}

.controlButton {
  height: 50px;
  width: 60px;
  margin: 0px 10px;
  cursor: pointer;
}

.left {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 50%;
  padding-right: 4vw;
}

.right {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 50%;
  padding-left: 4vw;
}

.imageContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 70vh;
}

.photos {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
}

.photos img {
  margin-bottom: 0;
  width: auto !important;
  padding-bottom: 10px;
  object-fit: cover;
  object-position: center;
}


@media screen and (max-device-width: 640px) {
  .imageModal {
    height: auto;
    width: 95%;
  }

  .modal {
    height: 100%;
  }

  .modalContent {
    height: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .image {
    max-height: 35vh;
  }
}

@media screen and (max-width: 1200px) {
  .image {
    max-height: 30vh;
  }
}

@media screen and (max-device-width: 640px) {
  .container {
    width: 100%;
    margin-top: 48px;
  }

  .imageModal {
    height: auto;
    width: 95%;
  }

  .controlButton {
    height: 25px;
    width: 30px;
    margin: 0px 5px;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    padding: 0 2.5vw;
  }
}

@media (max-width: 600px) {
  .photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}