.container {
  margin-top: 5vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container p {
  max-width: 900px;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* grid-auto-rows: minmax(100px, auto); */
  width: auto;
  grid-gap: 15px;
  padding: 20px 60px 0px 60px;
}

.gridContainer>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.gridCell {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  align-items: center;
  color: white;
  font-size: 30px;
}

.gridCell>a {
  font-size: 17px !important;
  color: white;
  font-weight: 700 !important;
  padding: 2px !important;
}

.filler {
  font-size: 17px !important;
  color: white;
  font-weight: 700 !important;
  padding: 2px !important;
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.item2 {
  grid-column: 2 / 2;
  grid-row: 1;
}

.item3 {
  grid-column: 1 / 2;
  grid-row: 2;
}

.item4 {
  grid-column: 2 / 2;
  grid-row: 2;
}

.item5 {
  grid-column: 1 / 2;
  grid-row: 3;
}

.image {
  width: auto;
  height: 17.5vh;
  align-self: center;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  margin: 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  padding: 2px;
}

.text {
  padding: 2px;
  font-size: 16px;
}

.accounts {
  text-align: center;
  padding: 5px;
}

.accounts>a {
  font-size: 17px !important;
  color: white;
  font-weight: 700 !important;
  padding: 2px !important;
}

.title {
  font-size: 32px;
  width: 100%;
  text-align: center;
  margin-bottom: 16px;
}

.gridCell>h3 {
  font-size: 24px;
}

@media only screen and (max-width: 640px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    /* grid-auto-rows: minmax(100px, auto); */
    width: auto;
    grid-gap: 15px;
    padding: 0px;
  }

  .item1 {
    grid-column: 1 / 1;
    grid-row: 1;
  }

  .item2 {
    grid-column: 2 / 1;
    grid-row: 2;
  }

  .item3 {
    grid-column: 1 / 1;
    grid-row: 3;
  }

  .item4 {
    grid-column: 1 / 1;
    grid-row: 4;
  }

  .item5 {
    grid-column: 1 / 1;
    grid-row: 5;
  }

  .container {
    width: 100%;
  }

  .image {
    height: auto;
    width: 60vw;
  }

  .text {
    width: 70vw;
    padding: 0;
    margin: 0 0 12px 0;
  }

  .container p {
    width: 80vw;
    text-align: center;
  }
}

@media only screen and (max-width: 860px) {
  .container p {
    max-width: 70vw;
    text-align: center;
  }
}

.disabled-project {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}