div > .close {
  color: red;
}
.container {
  padding: 48px 20px;
}

.link {
  position: relative;
  overflow: hidden;
  width: auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2em;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  transition: all ease-in-out 300ms;
}

.image {
  margin-top: 60px;
  /* max-height: 80vh; */
  max-width: 90vw;
}

/* .link:hover {
  color: white;
  font-size: 1.8em;
  font-weight: 600;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -moz-transform: scale(0.975);
  -webkit-transform: scale(0.975);
  transform: scale(0.975);
} */

.title {
  width: 100%;
  text-align: center;
}

.photos {
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  padding: 0 5vw;
  -moz-column-fill: balance;
  column-fill: balance;
}

.photosSpecial {
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
  padding: 0 5vw;
  -moz-column-fill: balance;
  column-fill: balance;
}

.photosSecondary {
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
  padding: 0 5vw;
  -moz-column-fill: balance;
  column-fill: balance;
}

.photos img {
  margin-bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  object-fit: cover;
  object-position: center;
}

.modalMain {
  font-size: 50px;
}

.modal {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.modalContent {
  height: 85vh;
  display: flex;
  flex-flow: column;
  justify-content: fle;
  align-items: center;
}
.controls {
  position: fixed;
  top: 0;
  height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-color: none;
  width: 100vw;
  margin: 0 0 20px 0;
}
.controlButton {
  height: 50px;
  width: 60px;
  margin: 0px 10px;
  cursor: pointer;
}
.left {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
  min-width: 50%;
  padding-right: 4vw;
}

.right {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 50%;
  padding-left: 4vw;
}
.imageThumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 100%;
}
.imageContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 70vh;
}

@media screen and (max-width: 1000px) {
  .gridContainer {
    padding: 20px 10px 10px 10px;
  }
  .photos {
    padding: 0 2vw;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  .photosSecondary {
    padding: 0 2vw;
  }
}

@media screen and (max-device-width: 640px) {
  .image {
    height: auto;
    width: 95%;
  }
  .modal {
    height: 100%;
  }
  .modalContent {
    height: 100%;
  }
  .controlButton {
    height: 25px;
    width: 30px;
    margin: 0px 5px;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .photosSecondary {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  .photosSpecial {
    -webkit-column-count: 1;

    -moz-column-count: 1;

    column-count: 1;
  }
}
