body {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sideBar {
  left: 0;
  top: 200px;
  position: fixed;
  height: 200px;
}

.headerContainer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  flex-flow: row;
  justify-content: space-between;
  padding: 5px 20px 10px 20px;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 1.45rem;
  min-height: 72px;
  background-color: black;
  z-index: 5;
}

.headerLeft {
  width: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.headerRight {
  width: auto;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: center;
}

.headerSection {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.headerSectionLeft {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.icons {
  height: 30px;
  margin: 3px;
  opacity: 0.2;
}

.iconsLink {
  height: 30px;
  margin: 3px;
  opacity: 0.8;
  cursor: pointer;
}

.iconsLink:hover {
  opacity: 1;
}

.link {
  text-decoration: none;
  margin: 0px 10px 0px 10px;
  font-size: 24px;
  cursor: pointer;
  opacity: 0.8;
  color: white;
}

.link:hover {
  opacity: 1;
  color: white;
}

.logo {
  height: 62px;
  margin-left: 22px;
  margin-bottom: 0;
}

.socials {
  display: none;
}

.socialsSidebar {
  display: flex;
  flex-flow: column;
  margin-left: 4px;
}

@media screen and (max-width: 750px) {
  .logo {
    display: none;
  }
  .headerContainer {
    padding: 0 10px 10px 10px;
  }
  .link {
    font-size: 18px;
  }
  .iconsLink {
    margin: 0 5px 5px 5px;
  }
  .headerSectionLeft {
    padding-right: 0px !important;
  }
  .headerSection {
    padding-right: 0px !important;
  }
  .socialsSidebar {
    display: flex;
    flex-flow: column;
  }
  .socials {
    display: none;
  }
}

@media screen and (max-device-width: 750px) {
  .headerLeft {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
  }
  .logo {
    display: none;
  }
  .link {
    font-size: 24px;
  }
  .icons {
    display: none;
  }
  .headerContainer {
    padding: 0 10px 10px 10px;
    align-items: center;
  }
  .headerSectionLeft {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0px !important;
    width: 100%;
  }
  .headerRight {
    flex-flow: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .headerSection {
    padding-right: 0px !important;
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  .icons {
    display: none;
  }
}